body {
  background-color: black; //これは赤色
}
.icon {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100;
  margin: 0;
}
.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}
.icon-circle img {
  width: 100%;
  height: auto;
}
.myname {
  display: flex;
  justify-content: center;
  color: white;
}
.profile {
  display: flex;
  justify-content: center;
  color: white;
}
.overflow-wrap-normal {
  width: 600px;
  overflow-wrap: normal;
}
.sns {
  display: flex;
  justify-content: center;
}
.sns-icon {
  display: flex;
  height: 50%;
  margin: 0;
  
}
.sns-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2px solid white; */
  
}
table {
    margin: auto;
}
.sns-icon-circle img {
  width: 50px;
  height: auto;
  object-fit: cover;
  /* background-color: white; */
}
.instagram .sns-icon .sns-icon-circle img {
  width: 50px;
  height: auto;
  object-fit: cover;
  background-color: white;
}