.icon {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100;
  margin: 0;
}
.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.icon-circle img {
  width: 100%;
  height: auto;
}
.myname {
  display: flex;
  justify-content: center;
}
.profile {
  display: flex;
  justify-content: center;
}
.overflow-wrap-normal {
  width: 900px;
  /* background-color: #dbedf0; */
  overflow-wrap: normal;
}